@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Josefin Sans";
    background-color: hsl(236, 33%, 92%);
    font-size: 18px;
    overflow-x: hidden;
}


.completed-task-list, .sun-icon, .bg-light-desktop, .bg-dark-desktop, .bg-dark-mobile{
    display: none;
}

.bg-light-mobile, .bg-dark-mobile{
    width: 100vw;
 /*    height: 35vh; */
    z-index: -1;
}

.icons{
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    top: 3rem;
    padding: 0 1rem;
    height: 50px;
}

.task-input-div{
    cursor: pointer;
    padding: 10px 0px 10px 10px;
    top: -2.5rem;
    background-color: white;
}

.radio-input{
    cursor: pointer;
    position: relative;
    top: 3px;
    left: 2px;
}

.tasks-div{
    position: relative;
    top: -2rem;
}

.check-input{
    cursor: pointer;
    margin-left: 8px;
    margin-right: 10px;
}

.list-item{
    display: flex;
    align-items: flex-start;
    padding: 1rem;
    padding-left: 0;
    word-wrap: break-word;
    word-break: break-word;
    overflow-wrap: break-word;
}

.list-item, .task-status, .list-item2{
    color: hsl(235, 19%, 35%);
}

.cross-img{
    margin-left: auto;
    cursor: pointer;
}

.task-status{
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
    background-color: white;
    font-weight: 500;
    display: flex;
    top: 25px;
    padding: 15px 1px 0px 1px;
    text-align: center;
}

.clear-span{
    cursor: pointer;
    margin-left: 5.3rem;
}

.drag-p{
    top: 3rem;
    text-align: center;
}

/* to prevent someone adding a task to completed list twice */
.check-input:checked {
    pointer-events: none;
  }

@media only screen and (min-width: 1024px) {
    body{
        overflow-x: hidden;
    }

    .bg-light-mobile, .bg-dark-mobile{
        display: none;
    }

    .bg-light-desktop{
        display: flex;
        width: 100vw;
        margin-top: -4rem;
    }

    .bg-dark-desktop{
        width: 100vw;
        margin-top: -4rem;
    }

    .task-input-div, .tasks-div{
        width: 30vw;
        margin-left: auto;
        margin-right: auto;
    }

    .moon-icon, .sun-icon{
        cursor: pointer;
        width: 30px;
        height: 30px;
        margin-left: -12rem;
    }

    .icons{
        justify-content: space-evenly;
        top: 7rem;
    }

    .clear-span{
        margin-left: 12.5rem;
    }
}